

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

img {
  max-width: 100%;
}

#container {
   min-height:100%;
   position:relative;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;
}

div.tile {
	background-size:100%;
	width: 14.2857%;
	height: 14.2857%;
}

div.board {
	height: 800px;
	width: 800px;
	border-color: black;
	border-width: 10px;
	border-style: double;
}

div.marker {
	float: left;
	clear: left;
	margin-left: 9%;
}

div.white {
	content: url('img/white.png');
}

div.black {
	content: url('img/black.png');
}

div.top {
	background-image:url("img/top.png");
	float: left;
}
div.topleft {
	background-image:url('img/topleft.png');
	float: left;
}
div.topright {
	background-image:url('img/topright.png');
	float: left;
}
div.left {
	background-image:url('img/left.png');
	float: left;
	clear: left;
}
div.right {
	background-image:url('img/right.png');
	float: left;
}
div.bottom {
	background-image:url('img/bottom.png');
	float: left;
}
div.bottomleft {
	background-image:url('img/bottomleft.png');
	float: left;
	clear: left;
}
div.bottomright {
	background-image:url('img/bottomright.png');
	float: left;
}
div.mid {
	background-image:url('img/mid.png');
	float: left;
}
div.point {
	background-image:url('img/point.png');
	float: left;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -380px;
  margin-left: -400px;
}

h1 {
	text-align: center;
	font-family: "Futura";
	font-size: 136px;
}
h2 {
	margin-left: 10%;
	font-family: "Futura";
	font-size: 80px;
}
h3 {
	text-align: center;
	font-family: "Futura";
	font-size: 30px;
}